
.main{
    padding-top: 5rem;
    row-gap: 45px;
  }
  .main-pd{
   row-gap: 8px;
   transition: all .4s ease;
  }
 @media screen and (min-width: 1024px) {
   .main{
      padding-left: 300px;
      padding-top: 6rem;
      padding-bottom: 2rem;
      transition: padding .4s;
   }
   .main-pd{
      padding-left: 120px;
   }
}